###  1- Hello World

Write a program that prints ```"Hello World"```. Don't use the notebook.
* If you are working on your machine, use any text editor such as the simple Notepad or IDLE
    * create a file called hello.py
    * write the necessary code inside
    * save the file
    * open a command shell and change to the directory that contains the file
    * run the file from the command line: ```python hello.py```
    * watch ecstatically
* If using a Binder or JupyterHub:
    * click on new->terminal from the directory tab to open a terminal
    * if necessary, in JupyterHub: change to the directory that contains the file
    * type ```python hello.py``` to run the hello.py file provided
    * watch ecstatically 
    * open the file from the directory page by clicking on it, modify it as suggested in Exercise 2 and save it
    * try running it again

If you get stuck, try doing this in a Binder - everything should just work out of the box.

In [1]:
print("Hello World")

Hello World

### 2 - Proof of residence

Modify your program so that it prints your name and address as you would on an envelope

In [2]:
name = "Jisu"
address = "Hayloft Point, 10 Middlesex Street, Block B 2005J, London, United Kingdom"
print (name, address)

Jisu Hayloft Point, 10 Middlesex Street, Block B 2005J, London, United Kingdom

### 3 - Bugger off

Write a program that asks for your name and insults you. From now on, I suggest you use the notebook - just click on the + sign in the toolbar to add a new code cell below this text if one isn't there already

In [3]:
name = input("What's your name? ")
print("Bet you are still sleepy", name)

Bet you are still sleepy Jisu

### 4 - Star Trek

Write a program that asks you for a speed in km/h and converts it to furlongs/fortnight (ask Google for help with the conversion factor). Use it to convert the speed or light to furlongs/fortnight.

In [6]:
speed = input("Type your speed in km/h")
print(f"Your speed in {speed} km/h is converted to", float(speed) * 1670.24576, "furlongs/fortnight")

Your speed in 5 km/h is converted to 8351.2288 furlongs/fortnight

### 5 - The real deal

Write a program that asks for the length and width of your average studio shoebox in meters. Multiply the area by 19500 to obtain its price in Kensington, in pounds. Store in a variable and print the result including units. 

Multiply the average UK salary of £26500 by 0.75 to deduce taxes. Divide the price by the net salary to obtain the number of man-years it takes the average bloke to pay for the average shoebox.  

Print all results including units. Use meaningful variable names for all the parameters (salary, cost per square meters). Include comments.

In [14]:
#Ask for length and width -- use split to ask for both
length = input("Enter length of your average studio shoebox in meters: ")
width = input("Enter width of your average studio shoebox in meters: ")
#Calculate area using given length and width
area = float(length) * float(width)

#Calculate price using calculated area
price = area * 19500

#Print results 
print(length, "m ", width, "m ", area, "sqm", "£", price)

#Calculate the net salary
netsal = 26500 * 0.75

#Calculate the number of man-years it takes the average bloke to pay for the average shoebox
years = price/netsal

#Print all results
print("length: ", length, "m ", "width: ", width, "m ", "area: ", area, "sqm", "price in Kensington: ", "£", price, "net salary: ", netsal, "the number of man-years: ", years, "years")

5 m  5 m  25.0 sqm £ 487500.0
length:  5 m  width:  5 m  area:  25.0 sqm price in Kensington:  £ 487500.0 net salary:  19875.0 the number of man-years:  24.528301886792452 years

### 6 - Happy birthday

Now for something a bit more cheerful: write a program that asks you for your age and prints ```"Happy Birthday"``` once for each year. Use the ```*```operator on a string to do that.

In [15]:
age = input("How old are you? ")
print("Happy Birthday " * int(age))

Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday Happy Birthday

### 7 - Operator madness

Look up Python operators [here](http://www.tutorialspoint.com/python/python_basic_operators.htm). Try out all Arithmetic, Comparison, and Assignment operators in the cell below. Feel free to define variables, create more cells, write down notes and ask questions. Remember to save this notebook when you are done. NOTE: The "not equal" operator in Python 3 is ```!=```, ```<>``` no longer works.

In [16]:
#Arithmetic
a = 21
b = 10
c = 0

c = a + b
print ("a: {} b: {} a+b: {}".format(a,b,c))

c = a - b
print ("a: {} b: {} a-b: {}".format(a,b,c) )

c = a * b
print ("a: {} b: {} a*b: {}".format(a,b,c))

c = a / b
print ("a: {} b: {} a/b: {}".format(a,b,c))

c = a % b
print ("a: {} b: {} a%b: {}".format(a,b,c))

a = 2
b = 3
c = a**b 
print ("a: {} b: {} a**b: {}".format(a,b,c))

a = 10
b = 5
c = a//b 
print ("a: {} b: {} a//b: {}".format(a,b,c))

a: 21 b: 10 a+b: 31
a: 21 b: 10 a-b: 11
a: 21 b: 10 a*b: 210
a: 21 b: 10 a/b: 2.1
a: 21 b: 10 a%b: 1
a: 2 b: 3 a**b: 8
a: 10 b: 5 a//b: 2

In [17]:
#Comparison
a = 21
b = 10
if ( a == b ):
   print ("Line 1 - a is equal to b")
else:
   print ("Line 1 - a is not equal to b")

if ( a != b ):
   print ("Line 2 - a is not equal to b")
else:
   print ("Line 2 - a is equal to b")

if ( a < b ):
   print ("Line 3 - a is less than b" )
else:
   print ("Line 3 - a is not less than b")

if ( a > b ):
   print ("Line 4 - a is greater than b")
else:
   print ("Line 4 - a is not greater than b")

a,b=b,a #values of a and b swapped. a becomes 10, b becomes 21

if ( a <= b ):
   print ("Line 5 - a is either less than or equal to  b")
else:
   print ("Line 5 - a is neither less than nor equal to  b")

if ( b >= a ):
   print ("Line 6 - b is either greater than  or equal to b")
else:
   print ("Line 6 - b is neither greater than  nor equal to b")

Line 1 - a is not equal to b
Line 2 - a is not equal to b
Line 3 - a is not less than b
Line 4 - a is greater than b
Line 5 - a is either less than or equal to  b
Line 6 - b is either greater than  or equal to b

In [18]:
#Assignment
a = 21
b = 10
c = 0
print ("a: {} b: {} c : {}".format(a,b,c))
c = a + b
print ("a: {}  c = a + b: {}".format(a,c))

c += a
print ("a: {} c += a: {}".format(a,c))

c *= a
print ("a: {} c *= a: {}".format(a,c))

c /= a 
print ("a: {} c /= a : {}".format(a,c))

c  = 2
print ("a: {} b: {} c : {}".format(a,b,c))
c %= a
print ("a: {} c %= a: {}".format(a,c))

c **= a
print ("a: {} c **= a: {}".format(a,c))

c //= a
print ("a: {} c //= a: {}".format(a,c))

a: 21 b: 10 c : 0
a: 21  c = a + b: 31
a: 21 c += a: 52
a: 21 c *= a: 1092
a: 21 c /= a : 52.0
a: 21 b: 10 c : 2
a: 21 c %= a: 2
a: 21 c **= a: 2097152
a: 21 c //= a: 99864

### 8 - Tea for You

Amazingly, we can already tackle some simple problems in Bioinformatics: in genomics databases, sequences are given sometimes as DNA, and sometimes as RNA. The difference is a substituton of Thymine (written down as ```'T'```) with Uracil (written as ```'U'```). The other three letters allowed are in both cases ```'A'```, ```'C'```, ```'G'```.

Write a program that replaces ```'U'``` with ```'T'``` in RNA sequences, making sure that it works whether the string is uppercase or lowercase and always outputs an uppercase string. Hint: to obtain help on, for instance, the ```str.replace()``` method type ```help(str.replace)``` in the cell below. Typing ```dir(str)``` will list all methods.

In [20]:
rna = "CGAUUGCCGAAUAGU"
rna = rna.upper()
rna = rna.replace('U', 'T')
print(rna)

CGATTGCCGAATAGT

### 9 - With complements

The double helix of DNA is made of 2 strands, that latch on to each other like a zipper. Each strand is said to be the "complement" of the other (see the picture [here](https://en.wikipedia.org/wiki/DNA_replication)). Given a sequence, the complement is obtained by substituting ```'A'``` for ```'T'```, ```'T'``` for ```'A'```, ```'C'``` for ```'G'``` and ```'G'``` for ```'C'```, so that for instance the complement of ```"GATTACA"``` is ```"CTAATGT"```.

This is stretching it a bit, but there is a way to use ```str.replace()``` to transform a DNA sequence into its complement. Can you do that? It isn't hard to do, but there's a catch. Write a program that asks you for a sequence and outputs the complement.

In [21]:
seq = input("What's the RNA sequence? ")
seq = seq.upper()
seq.replace('A', 't')
seq.replace('T', 'A')
seq.replace('C', 'g')
seq.replace('G', 'c')
seq = seq.upper()
print(seq)